<div class="center">
  <fieldset>
    <legend><h1>Log In:</h1></legend>
    <%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

        <%= f.label :id, "Your Name:" %></br>
        <%= f.text_field :name %> </br>

        <%= f.label :password %></br>
        <%= f.password_field :password, id: "password" %></br>
    </br>

        <%= f.submit "Sign In", class: "btn btn-primary"%>

      <% end %>
  </fieldset>
</div>
