<div class="container">
  <h2><%= link_to "Expenses: ", user_transactions_path(current_user)%></h2>
  <div>
    <%= form_tag(user_path(@user), method: "get") do %>
      View Activity by Category
      <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: true %><br>
      View Activity by Price
      <%= select_tag "price", options_for_select(["Low to High", "High to low"]), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
  </div>
      <ol>
        <% total = 0 %>
        <% @transactions.most_recent.each do |transaction| %>
          <li>
            <%= link_to transaction.description, edit_user_transaction_path(current_user, transaction) %> - $ <%= transaction.amount %>
            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
            <%= was_created transaction %>
            <% total += transaction.amount %>
          </li>
        <br>
        <% end %>
      </ol>
      You have spent $ <%= total %>.<br>
    <br>
    <div id="form">
      <%= render 'transactions/form' %>
    </div>
    <br>
</div>
