<div class="container">
  <h2>Let's look at your expenses: </h2>
  <div>
    <h3>Filter activities:</h3>
    <%= form_tag(user_path(@user), method: "get") do %>
      <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: true %>
      <%= submit_tag "Filter" %>
    <% end %>
  </div>
      <ol>
      <% @transactions.most_recent.each do |transaction| %>
        <li>
          <%= link_to transaction.description, edit_user_transaction_path(current_user, transaction) %> - $ <%= transaction.amount %><br>
          <%= was_created transaction %>
        </li>
      <br>
      <% end %>
      </ol>
    <br>
    <div id="form">
      <%= render 'transactions/form' %>
    </div>
    <br>
</div>
