<% if !flash.empty? %>
    <div id="flash">
        <% flash.keys.each do |k| %>
            <div class="<%= k %>">
                <%= flash[k] %>
            </div>
        <% end %>
    </div>
<% end %>

<h1>Welcome! <%= current_user.name%></h1>

<div class="container">
  <!-- <%#= render 'income' %> -->
  <div class="income">
    <h2><%= link_to "Income", user_incomes_path(current_user), class: "inc_title"%></h2>
    <div class="form">
      <h3 style="text-align:center;">New Income: <%= render 'incomes/form', class: "new_income" %></h3><br>
    </div>
    <div id="income_list">
    </div>
  </div>

  <div class="expense">
    <h2><%= link_to "Expense", user_transactions_path(current_user), class: "exp_title"%></h2>
    <h3><%= link_to "View Expenses with Categories", user_transactions_path(current_user), class: "exp_with_cat"%></h3>
    <div class="form">
      <h3 style="text-align:center;">New Expense: <%= render 'transactions/form', class: "new_expense" %></h3>
    </div>
    <div id="expense_list">
    </div>
    <div id="expense_with_category_list">
    </div>
  </div>

  <div class="saving_goal">
    <h2><%= link_to "Saving Goal", user_saving_goals_path(current_user), class: "sg_title"%></h2>
    <div class="form">
      <h3 style="text-align:center;">New Saving Goal: <%= render 'saving_goals/form', class: "new_saving_goal" %></h3>
    </div>
    <div id="saving_goal_list">
    </div>
  </div>

</div>

<div class="center">
  <%= button_to "Log Out", signout_path, method: :delete %>
</div>
